@tailwind base;
@tailwind components;
@tailwind utilities;

button, .button {
  @apply bg-black text-white;
  @apply border rounded-md px-5 py-2.5;
}

/* NAVBAR */
.dropdown-position {
  @apply absolute z-10 top-8 left-0 transform translate-x-1 w-[300px];
  @apply rounded-md transition ease-in delay-100;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  --tw-translate-y: 2.5rem;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
}

.social-hover {
  @apply rounded-full p-2 transition ease-in delay-100;
  @apply hover:text-black hover:bg-canvas;
}

.search-hover {
  @apply rounded-full p-2.5 transition ease-in delay-100;
  @apply hover:text-black hover:bg-canvas;
}